* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.8%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-div {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  padding: 5rem;
  border-radius: 0.8rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.314);
  width: 30vw;
}

.input-holder {
  width: 30vw;
  padding: 0.5rem;
  border: none;
}

.to-do-list-item,
.input-div {
  width: 30vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  font-size: 1.5rem;
}

.to-do-list-item div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.checkbox {
  padding: 0.5rem;
}

.clear-all-button {
  width: 30vw;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 1rem;
  padding: 1rem 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.314);
  cursor: pointer;
  transition: all 0.3s;
}

.gen-btn {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
}

.gen-btn:hover {
  color: rgba(0, 0, 0, 0.503);
}

.clear-all-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.407);
}
